Repository SebassNoob/SebassNoob, changes with the labels that .github/labeler.yml gives for each.
All labels: html, js, css, backend, readme

Update README.md
  README.md
Labels: readme

add git stats and website repo
  README.md
Labels: readme

content of skills page
  static/exp_edu.css
  templates/exp_edu.html
Labels: html, css

education section
  static/assets/quot-close.svg
  static/assets/quot-open.svg
  static/exp_edu.css
  templates/exp_edu.html
Labels: html, css

Create .gitignore
  .gitignore
Labels: none

Untrack files in .gitignore
  .replit
  poetry.lock
  pyproject.toml
Labels: none

.github/labeler.yml:

html:
- templates/*

js:
- any: ['static/scripts/*.js']

css:
- any: ['static/**/*.css']

backend:
- any: ['*.py']

readme:
- README.md
